
<div class="register">
    <h2 class="page-header">Register</h2>
    <form (submit)="onRegisterSubmit()">

      <div class="form-group">
        <label for="username">Username</label>
        <input type="text"  [(ngModel)]="username" name="username" class="form-control" id="username" placeholder="Enter Username">
      </div>
      <!--uploding image -->
<div class="form-group">
        <!-- <div class="example-loading-shade"
        *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
     <mat-card class="example-card">
    <form [formGroup]="galleryForm" (ngSubmit)="onFormSubmit()">
      <mat-form-field class="example-full-width">
        <mat-label>Gallery Image</mat-label>
        <ngx-mat-file-input formControlName="imageFile" placeholder="Select Image" valuePlaceholder="No image file selected"
          [errorStateMatcher]="matcher"></ngx-mat-file-input>
        <mat-icon matSuffix>folder</mat-icon>
           <mat-error>
             <span *ngIf="!galleryForm.get('imageFile').valid">Please select image file</span>
           </mat-error>
        </mat-form-field> -->
</div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" [(ngModel)]="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter Email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" [(ngModel)]="password" name="password" class="form-control" id="password" placeholder=" Enter Password">
      </div>

      <input type="submit" class="btn btn-primary" value="Submit">
    </form>
    </div>
