<div class="formcontainer">
    <div class="formbody">
        <form style="width:100%;" [formGroup]="myForm">
            <div class="header">Register</div>
            <div>
            <input type="text" formControlName="email" matInput placeholder="Email" id="email">               
            <span >Entered email is invalid</span>
            </div>

            <div>
             <input type="text" formControlName="username" matInput placeholder="Username" id="user">
            <span>Username is required</span>
            </div>

            <div>
             <input type="password" formControlName="password" matInput placeholder="Password" id="pass">
             <span>Password is a mandatory field</span>
            </div>
            <div>
             <input type="password" formControlName="checkpassword" matInput placeholder="Re-enter Password" id="checkpassword">
             <span>Password and confirm password should match</span>
            </div>
            <div style="margin-top:20px;">
                <button class="form-btn" >Register</button>
            </div>


            <div style="text-align: center;">                
                
            </div>
        </form>
    </div>

    <div>
        <div style="width: 290px; padding: 20px;">
            <button class="form-btn-hollow" >Login</button>
        </div>
    </div>
</div>