input[type="radio"].quiz-radio {
    margin-right: 6px;
    margin: 0 20px 0 20px;
    text-decoration: underline;
    text-transform: uppercase;
    
  }
  
  .btn:focus, .btn:active, .btn:active:focus {
    outline: none;
    text-decoration: underline;
    
    
  }
  
  .row1 {
    font-size: 18px;
    margin-top: 130px;
    text-align: center;
    text-decoration: underline;
    text-size-adjust: 80%;
    text-transform: uppercase;
    color: black
    
    
  }
  .row{
    text-align: center;
    text-decoration: underline;
    color: black
    
   
  }
  
    /*.container{ background-image: url(https://64.media.tumblr.com/23e02b02c95979dfd640429ef5f65cfd/tumblr_myh8nkZqLu1qz4m18o1_r1_1280.gifv); */
    /* height: 40%;
    width: 40%;

    top:25%;
    left:25%;


  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; } */


  .size{
      font-size: 15px;
  }

  html, body, .screen{
   
     min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
   
  }
  .screen{
    background-image: url(https://lh3.googleusercontent.com/proxy/Guh0zJ-1nBCj_B9kDII_6ZxGpGxtxqP05JNAYtoV7UaMc3E6LtFgFjk9kc8LkAvRW_ih4AWw9DfIjdl0eW-XE-osaeNIKX8);
   
  }

  .btn {
    background-color: rgb(206, 65, 152);
    position:relative; ; top:55px; ;
  }