<app-navbar></app-navbar>
<div class="jumbotron text-center">
    <h1>WELCOME TO GALAXY GAME</h1>
    <p class="lead">How about a quick game before we go any further <br> Try to answer each question as quickly as possible <br> And see how lucky you are !!</p>
    <div>
      <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-dark" [routerLink]="['/login']">Login</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3>First Game</h3>
      <h4>rock paper scissors</h4>
      <img class="img1" src ="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Rock-paper-scissors.svg/1200px-Rock-paper-scissors.svg.png">
    </div>
    <div class="col-md-4">
      <h3>Second game</h3>
      <h4>Quick Quiz</h4>
      <img class="img2" sr ="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnTabUgvnVneOJuRXZ5ddsAVX2Wp7fSlPm1Q&usqp=CAU">
    </div >
    <div class="col-md-4">
      <h3>Third Game</h3>
      <p>Memory Game</p>
      <img class="img3" sr ="https://www.helpfulgames.com/bilder/spel/memory.png">
    </div>
  </div>
  
