<app-navbar></app-navbar>
<link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">

<div class="homepage">
<div class="jumbotron text-center">
    <h1>WELCOME TO GALAXY GAME</h1>
    <p class="lead">How about a quick game before we go any further <br> Try to answer each question as quickly as possible <br> And see how lucky you are !!</p>
    <div>
      <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
      <a class="btn btn-dark" [routerLink]="['/login']">Login</a>
    </div>
  </div>
</div>
  <!-- <div class="row">
    <div class="col-md-4">
      <h3>First Game</h3>
      <h4>rock paper scissors</h4>
    </div>
    <div class="col-md-4">
      <h3>Second game</h3>
      <h4>Quick Quiz</h4>
    </div >
  </div> -->
  
