
<div class="screeen">
<app-navbar2></app-navbar2>
<div class="rpcgame">
<mat-toolbar>
    <span>Rock / Paper / Scissors</span>
    <span fxFlex></span>
    <span>Player {{ results.player }} / Computer {{ results.computer }}</span>
  </mat-toolbar>
  
  <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="20px">
    <mat-card>
      
      <mat-card-header>
        
        <div mat-card-avatar></div>
        <mat-icon mat-card-avatar>sports_soccer</mat-icon>
        <mat-card-title>𝙍𝙤𝙘𝙠</mat-card-title>
        <mat-card-subtitle>Rock beats Scissors</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button (click)="play('rock')" color="accent">𝗣𝗹𝗮𝘆 𝘄𝗶𝘁𝗵 𝗥𝗼𝗰𝗸</button>
      
      </mat-card-actions>
   
    </mat-card>
  
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-icon mat-card-avatar>file_copy</mat-icon>
        <mat-card-title>𝙋𝙖𝙥𝙚𝙧</mat-card-title>
        <mat-card-subtitle>Paper beats Rock</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button (click)="play('paper')" color="accent">𝗣𝗹𝗮𝘆 𝘄𝗶𝘁𝗵 𝗣𝗮𝗽𝗲𝗿</button>
      </mat-card-actions>
    </mat-card>
  
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-icon mat-card-avatar>restaurant</mat-icon>
        <mat-card-title>𝙎𝙘𝙞𝙨𝙨𝙤𝙧𝙨</mat-card-title>
        <mat-card-subtitle>Scissors beats Paper</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button (click)="play('scissors')" color="accent">𝗣𝗹𝗮𝘆 𝘄𝗶𝘁𝗵 𝗦𝗰𝗶𝘀𝘀𝗼𝗿𝘀</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div>
  <mat-card class="move">
    <mat-card-header>
      <mat-icon *ngIf="computerResult === 'rock'" mat-card-avatar aria-hidden="false">sports_soccer</mat-icon>
      <mat-icon *ngIf="computerResult === 'paper'" mat-card-avatar aria-hidden="false">file_copy</mat-icon>
      <mat-icon *ngIf="computerResult === 'scissors'" mat-card-avatar aria-hidden="false">restaurant</mat-icon>
      <mat-card-title>Results</mat-card-title>
    <mat-card-subtitle>Computer picked {{ computerResult }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    <h1>{{ result }}</h1>
    </mat-card-content>
  </mat-card>
  <button class="btnn"  (click)="next()" > go go go </button>
</div>
</div>