<div fxLayout="row" fxLayoutAlign ="space-between" fxLayoutGap="20px">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-icon mat-card-avatar>sports_soccer</mat-icon>
      <mat-card-title>Rock</mat-card-title>
      <mat-card-subtitle>Rock beats Scissors</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button (click)="play('rock')" > play with Rock </button>
    </mat-card-actions>
  </mat-card>
  
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-icon mat-card-avatar>file_copy</mat-icon>
      <mat-card-title>Paper</mat-card-title>
      <mat-card-subtitle>Paper beats Rock</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button (click)="play('paper')"> play with Paper </button>
    </mat-card-actions>
  </mat-card>
  
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-icon mat-card-avatar>restaurant</mat-icon>
      <mat-card-title>Scissors</mat-card-title>
      <mat-card-subtitle>Scissors beats Paper</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button (click)="play('scissors')"> play with Scissors </button>
    </mat-card-actions>
  </mat-card>
  </div>